---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';
import HomePageImage from '../assets/images/richardbergsma.png'
import MicrosoftAssociate from '../assets/images/microsoft-certified-associate-badge.webp'
import NexthinkAssociate from '../assets/images/NexthinkAssociate.webp'
import NexthinkAdministrator from '../assets/images/NexthinkAdministrator.webp'

const metadata = {
  title: 'About me',
};

const fixedYear = 2010; // Replace with your desired year
const currentYear = new Date().getFullYear();
const yearsSince = currentYear - fixedYear;
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#hero' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Skills', href: '#skills' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Blog', href: '#blog' },
      ]}
      actions={[
        {
          text: 'Contact me',
          href: getPermalink('/contact#form'),
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Hi! I am Richard Bergsma"
    actions={[{ variant: 'primary', text: 'Contact me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      <strong>Turning automation into action, one workflow at a time.</strong> </br>I streamline processes with Power Automate, build smart chatbots in Copilot Studio, and connect the dots with seamless API integrations—all while leveling up my Python skills.
    </Fragment>
    
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={2}
    items={[
      
    ]}
    image={{
      src: HomePageImage,
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      With over {yearsSince} years of IT experience, I am a passionate and proficient Microsoft 365 professional who thrives on delivering optimal solutions for complex cloud and on-premise systems. As the Microsoft 365 expert in my current position, I manage the Microsoft 365 environment, communicate new features, and support colleagues with 3rd line requests. I also leverage my skills in Power Automate, Power Apps, and Nexthink to enhance automation and efficiency across various areas.</br></br>

      Previously, I worked as a cloud systems and application engineer, where I set up and managed Microsoft 365 and SharePoint Online environments, migrated from different mail systems to Microsoft 365, and implemented SCCM for more automation. I also founded Bergsma IT, a company that helped small businesses migrate to the cloud and created and managed WordPress websites. I hold Microsoft certifications in Teams Administration, Azure Fundamentals, and Modern Desktop Administration. My mission is to drive IT excellence for organizational success by optimizing cloud solutions and providing outstanding technical support.

    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'IT Systems and Automation Manager<br /> <span class="font-normal">COFRA Holding C.V. - Amsterdam</span> <br /> <span class="text-sm font-normal">02-2025 - Present</span>',
        description: `As the IT Systems and Automation Manager at COFRA Holding, I focus on driving automation through Power Automate and building advanced chatbots in Copilot Studio to streamline processes and enhance operational efficiency. My work involves integrating APIs to create seamless workflows, automating recurring tasks, and supporting digital transformation initiatives. In addition to my automation responsibilities, I continue to manage our Microsoft 365 environment, support 3rd line requests, develop Power Apps, oversee our Nexthink environment, manage TOPdesk, and contribute to various IT projects as needed.`,
        icon: 'tabler:automation',
      },
      {
        title:
          'Office 365 Professional <br /> <span class="font-normal">COFRA Holding C.V. - Amsterdam</span> <br /> <span class="text-sm font-normal">08-2020 - 01-2025</span>',
        description: `As the Microsoft 365 expert within COFRA Holding, I ensure that the environment is managed, new features are communicated, and colleagues are supported with 3rd line requests. New requests that come to me range from new Power Automate flows to Power Apps. Additionally, I focus on the setup and management of our Nexthink environment, manage TopDesk, and support other projects as required. Lately, I’ve been concentrating on leveraging Power Automate to enhance automation across various areas.`,
        icon: 'tabler:brand-office',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    id="skills"
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through design."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Graphic design',
        description: 'Proficient in crafting visually appealing designs that convey messages effectively.',
      },
      {
        title: 'Branding and identity',
        description: 'Skilled at developing cohesive brand identities, including logos and brand guidelines.',
      },
      {
        title: 'User-centered design',
        description: 'Experienced in creating user-friendly interfaces and optimizing user experiences.',
      },
      {
        title: 'Adobe Creative Suite',
        description: 'Skilled in using Photoshop, Illustrator, and InDesign to create and edit visual elements.',
      },
      {
        title: 'Typography',
        description: 'Adept in selecting and manipulating typefaces to enhance design aesthetics.',
      },
      {
        title: 'Color theory',
        description: 'Proficient in using color to evoke emotions and enhance visual harmony.',
      },
      {
        title: 'Print and digital design',
        description: 'Knowledgeable in designing for both print materials and digital platforms.',
      },
      {
        title: 'Attention to detail',
        description: 'Diligent in maintaining precision and quality in all design work.',
      },
      {
        title: 'Adaptability',
        description: 'Quick to adapt to new design trends, technologies, and client preferences.',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Elevating visual narratives"
    subtitle="Embark on a design journey that surpasses pixels, entering a realm of imagination. Explore my portfolio, where passion and creativity converge to shape enthralling visual narratives."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Developed a comprehensive brand identity for a tech startup, Tech Innovators, specializing in disruptive innovations. The goal was to convey a modern yet approachable image that resonated with both corporate clients and tech enthusiasts.',
      },
      {
        title: 'Role:',
        description:
          'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Brand identity for tech innovators</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
      },
      {
        title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Event poster for art & music festival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Certifications"
    subtitle="Where Knowledge Meets Recognition"
    testimonials={[
      {
        name: 'Certified Nexthink Administrator',
        description: 'Earning the Nexthink Platform Administration certification demonstrates proficiency in configuring and customizing the Nexthink Platform to meet organizational needs. ',
        linkUrl: 'https://learn.nexthink.com/courses/nexthink-platform-administration',
        image: {
          src: NexthinkAdministrator,
          alt: 'Nexthink Administrator badge',
        },
      },
      {
        name: 'Certified Nexthink Associate',
        description: 'Earning the Nexthink Infinity Fundamentals certification validates your understanding of the Nexthink Infinity platform and its role in enhancing digital employee experience.',
        linkUrl: 'https://learn.nexthink.com/courses/nexthink-infinity-fundamentals',
        image: {
          src: NexthinkAssociate,
          alt: 'Nexthink Associate badge',
        },
      },
      {
        name: 'M365: Teams Administrator Associate',
        description: 'Earning the Teams Administrator Associate certification demonstrates your ability to plan, deploy, configure, and manage Microsoft Teams to facilitate efficient collaboration and communication within a Microsoft 365 environment.',
        linkUrl: 'https://learn.microsoft.com/en-us/credentials/certifications/m365-teams-administrator-associate/?practice-assessment-type=certification',
        image: {
          src: MicrosoftAssociate,
          alt: 'Microsoft Certified Associate badge',
        },
      },
      {
        name: 'Certified Nexthink Administrator',
        description: 'Earning the Nexthink Platform Administration certification demonstrates proficiency in configuring and customizing the Nexthink Platform to meet organizational needs. ',
        linkUrl: 'https://learn.nexthink.com/courses/nexthink-platform-administration',
        image: {
          src: 'https://www.365devnet.nl/images/NexthinkAdministrator.webp',
          alt: 'Nexthink Administrator badge',
        },
      },
      {
        name: 'Certified Nexthink Administrator',
        description: 'Earning the Nexthink Platform Administration certification demonstrates proficiency in configuring and customizing the Nexthink Platform to meet organizational needs. ',
        linkUrl: 'https://learn.nexthink.com/courses/nexthink-platform-administration',
        image: {
          src: 'https://www.365devnet.nl/images/NexthinkAdministrator.webp',
          alt: 'Nexthink Administrator badge',
        },
      },
      {
        name: 'Certified Nexthink Administrator',
        description: 'Earning the Nexthink Platform Administration certification demonstrates proficiency in configuring and customizing the Nexthink Platform to meet organizational needs. ',
        linkUrl: 'https://learn.nexthink.com/courses/nexthink-platform-administration',
        image: {
          src: 'https://www.365devnet.nl/images/NexthinkAdministrator.webp',
          alt: 'Nexthink Administrator badge',
        },
      },
      
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Contact me',
        href: getPermalink('/contact#form'),
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
